# Core Data Science Libraries
numpy < 2  # Ensure compatibility with older versions
cython
pandas
scipy
scikit-learn
statsmodels
xgboost  # Gradient boosting library

# Advanced Machine Learning
lightgbm # Light Gradient Boosting Machine

# Data Visualization
matplotlib
seaborn

# Jupyter Environment
jupyterlab
ipykernel
ipython

# Utilities
tqdm     # Progress bars
joblib   # Parallelization
tabulate # Pretty-printing tables

# Date and Time Handling
python-dateutil
pytz
prophet  # For time series forecasting
pmdarima # For ARIMA modeling
