# Core Data Science Libraries
numpy
cython
pandas
scipy
scikit-learn
statsmodels
xgboost  # Gradient boosting library

# Advanced Machine Learning
lightgbm # Light Gradient Boosting Machine

# Data Visualization
matplotlib
seaborn

# Jupyter Environment
jupyterlab
ipykernel
ipython

# Utilities
tqdm     # Progress bars
joblib   # Parallelization

# Date and Time Handling
python-dateutil
pytz
prophet  # For time series forecasting
